.login-background {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-card {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 8px;
    border-color: 1px solid #333;
}

.p-button-secondary {
    background-color: #757575 !important;
    border: none !important;
}

.p-button-outlined.p-button-secondary {
    border-color: #757575 !important;
    color: #757575 !important;
}