/* EditPerfil.css */

.container-edit-profile {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.edit-profile-card {
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.field {
    margin-bottom: 15px;
}

.field label {
    font-weight: bold;
    color: #333;
}

.p-button-secondary {
    background-color: #424242;
    /* Cinza escuro */
    border: none;
    color: #fff;
}

.p-button-secondary:hover {
    background-color: #333;
    /* Cinza ainda mais escuro */
}

.p-button-outlined.p-button-secondary {
    border: 1px solid #424242;
    /* Borda cinza escuro */
    color: #424242;
    /* Cinza escuro */
    background-color: #fff;
    /* Interior branco */
}

.p-button-outlined.p-button-secondary:hover {
    border-color: #333;
    /* Cinza ainda mais escuro */
    color: #333;
    /* Cinza ainda mais escuro */
    background-color: #f5f5f5;
    /* Fundo claro ao passar o mouse */
}

.photo-preview {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    object-fit: cover;
}